/* =========================
    MOBILE FIRST APPROACH
========================= */



/*=====================================================

    responsive Tablet view larger than 768px screen

=======================================================*/

@media(min-width: 768px){

    .hero h1{
        font-size: 40px;
    }

    .profile-img{
        width: 180px;
        height: 180px;
    }
    
    .section{
        padding: 80px 10%;
    }

    .projects-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    form{
        max-width: 500px;
    }

}



/*=====================================================

    responsive Desktop view larger than 1024px screen

=======================================================*/

@media(min-width: 1024px){

    .hero{
        padding: 120px 20px;
    }

    .hero h1{
        font-size: 48px;
    }

    .projects-grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .section{
        padding: 100px 12%;
    }

}


/*=====================================================

    Mobile navigation with Hamburger Menu

=======================================================*/

@media(max-width: 768px){

    .nav-links{
        position: absolute;
        top: 70px;
        right: 0px;
        background: var(--dark);
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active{
        display: flex;
    }

    .hamburger{
        display: block;
    }

}
