/* =======================
    ROOT VARIABLES
======================== */

:root{
    --primary: #2563eb;
    --dark: #3a404f;
    --light: #6a7584;
    --gray: #262f3b;
    --background: #0f172a;

    --font-main: Arial, Helvetica, sans-serif;
}
